{{define "title"}}
    FAQ
{{end}}

{{define "page"}}
    <ul>
        {{range .}}
            {{template "qna" .}}
        {{end}}
    </ul>
{{end}}

{{define "qna"}}
    <li>Q: {{.Question}}</li>
    <li>A: {{.Answer}}</li>
{{end}}